.p-20{
	padding: 20px;
}

.m-20{
	margin: 20px;
}

.mt-20{
	margin-top: 20px;
}

.capitalize{
	text-transform: capitalize;
}

.box-shadow{
	box-shadow: 10px 10px 5px #000000;
}

.text-shadow{
	text-shadow: 2px 2px 4px #000000;
}

.card-height{
	height: 200px;
}

.s-24{
	font-size: 24px;
}

.s-50{
	font-size: 50px;
}

.s-100{
	font-size: 100px;
}

.game-picks{
	font-size: 100px; 
	color: #369bf0; 
	padding: 15px;
}

.user-picks{
	font-size: 100px;
	padding: 15px;
}